body, html {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: black;
  color: #ffffff;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

p {
  margin: 0;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #f0f2f5;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}